@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes progressBar {
    from {
        width: 100%;
    }
    to {
        width: 0;
    }
}

.progress-bar {
    animation: progressBar linear forwards;
}