@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
    font-family: "ALS Gorizont Expanded Regular";
    src: url(./assets/fonts/gorizont/gorizont-font.eot.ttf);
    src: url(./assets/fonts/gorizont/gorizont-font.eot.ttf), url(./assets/fonts/gorizont/gorizont-font.eot.woff), url(./assets/fonts/gorizont/gorizont-font.eot.woff2);
    font-weight:normal;
    font-style:normal;
    font-display:swap;
}

* {
    font-family: "ALS Gorizont Expanded Regular";
}

.progress-bar {
    animation: progress linear infinite;
}

@keyframes progress {
    from {
        width: 100%;
    }
    to {
        width: 0;
    }
}
